@model Trello.Data.Entities.Board

@{
    ViewData["Title"] = "Board " + Model.Name;
    ViewData["BoardId"] = Model.Id;
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    @foreach (var column in Model.Columns)
    {
        <div class="col col-3">
            @column.Name
            @foreach (var card in column.Cards)
            {
                <a asp-action="Details"  asp-route-id="@card.Id">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="...">-->
                        <div class="card-body">
                            <h5 class="card-title">@card.Name</h5>
                            <p class="card-text"></p>
                            <ul>
                                @foreach (var comment in card.Comments)
                                {
                                    <li>@comment.Name </li>
                                }
                            </ul>

                        </div>
                    </div>

                </a>


            }
        </div>
    }
    
    <partial name="/Views/MyColumn/_formColumn.cshtml" model=Model.Id/> 

    

</div>